CMakeFiles*
CMakeCache*
cmake-build*
cmake_install*
*.cbp
*.o
*.a
dist/*
lens/*
.idea/*
Makefile
venv
*.lbc
dist*
install_manifest.txt
*node_modules*
wiki/.docusaurus
wiki/build/*
wiki/build*
Testing/
src/lit/std/compiled/*.c
test.txt
